C#/TradingUI/Service References/PricerServiceReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="PricerServiceLibrary" elementFormDefault="qualified" targetNamespace="PricerServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/PricerService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CS.Pricing" />
  <xs:import schemaLocation="http://localhost:8080/PricerService/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/CS.Trades.TradeTypes" />
  <xs:element name="Subscribe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Unsubscribe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnsubscribeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishUIData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CS.Pricing" minOccurs="0" name="optionData" nillable="true" type="q1:OptionData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewOption">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CS.Trades.TradeTypes" minOccurs="0" name="optionData" nillable="true" type="q2:OptionContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewOptionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOptions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CS.Trades.TradeTypes" minOccurs="0" name="GetAllOptionsResult" nillable="true" type="q3:ArrayOfOptionContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPricerData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CS.Pricing" minOccurs="0" name="newData" nillable="true" type="q4:OptionData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>