C#/TradingUI/Service References/PricerServiceReference/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CS.Market" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CS.Market" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MarketData">
    <xs:sequence>
      <xs:element minOccurs="0" name="StockPrice" type="xs:double" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VolSurface" nillable="true" type="tns:FlatVolSurface" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MarketData" nillable="true" type="tns:MarketData" />
  <xs:complexType name="FlatVolSurface">
    <xs:sequence>
      <xs:element minOccurs="0" name="Volatility" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FlatVolSurface" nillable="true" type="tns:FlatVolSurface" />
</xs:schema>