C#/TradingUI/Service References/PricerServiceReference/item4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CS.Trades.TradeTypes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CS.Trades.TradeTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OptionContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="BaseNotional" type="xs:double" />
      <xs:element minOccurs="0" name="Maturity" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OptionType" type="tns:OptionContract.Type" />
      <xs:element minOccurs="0" name="Strike" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OptionContract" nillable="true" type="tns:OptionContract" />
  <xs:simpleType name="OptionContract.Type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Put" />
      <xs:enumeration value="Call" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OptionContract.Type" nillable="true" type="tns:OptionContract.Type" />
  <xs:complexType name="ArrayOfOptionContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OptionContract" nillable="true" type="tns:OptionContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOptionContract" nillable="true" type="tns:ArrayOfOptionContract" />
</xs:schema>