C#/TradingUI/Service References/PricerServiceReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CS.Pricing" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CS.Pricing" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/PricerService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CS.Market" />
  <xs:import schemaLocation="http://localhost:8080/PricerService/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/CS.Trades.TradeTypes" />
  <xs:complexType name="OptionData">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CS.Market" minOccurs="0" name="MarketData" nillable="true" type="q1:MarketData" />
      <xs:element minOccurs="0" name="OptionResults" nillable="true" type="tns:ArrayOfOptionResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OptionData" nillable="true" type="tns:OptionData" />
  <xs:complexType name="ArrayOfOptionResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OptionResult" nillable="true" type="tns:OptionResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOptionResult" nillable="true" type="tns:ArrayOfOptionResult" />
  <xs:complexType name="OptionResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="BaseResult" nillable="true" type="tns:Result" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CS.Trades.TradeTypes" minOccurs="0" name="Contract" nillable="true" type="q2:OptionContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OptionResult" nillable="true" type="tns:OptionResult" />
  <xs:complexType name="Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Delta" type="xs:double" />
      <xs:element minOccurs="0" name="Value" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Result" nillable="true" type="tns:Result" />
</xs:schema>