SubscribePublishWCF/datasource/Service References/ServiceReference1/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MarketData">
    <xs:sequence>
      <xs:element minOccurs="0" name="StockPrice" type="xs:double" />
      <xs:element minOccurs="0" name="businessDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MarketData" nillable="true" type="tns:MarketData" />
</xs:schema>