SubscribePublishWCF/datasource/Service References/ServiceReference1/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://Microsoft.ServiceModel.Samples" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Microsoft.ServiceModel.Samples" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Microsoft.ServiceModel.Samples/Imports">
      <xsd:import schemaLocation="http://localhost:8080/myService/?xsd=xsd0" namespace="http://Microsoft.ServiceModel.Samples" />
      <xsd:import schemaLocation="http://localhost:8080/myService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISampleContract_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="ISampleContract_Subscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="ISampleContract_Unsubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Unsubscribe" />
  </wsdl:message>
  <wsdl:message name="ISampleContract_Unsubscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnsubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="ISampleContract_PublishPriceChange_InputMessage">
    <wsdl:part name="parameters" element="tns:PublishPriceChange" />
  </wsdl:message>
  <wsdl:message name="ISampleContract_PriceChange_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PriceChange" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="ISampleContract">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Subscribe">
      <wsdl:input wsam:Action="http://Microsoft.ServiceModel.Samples/ISampleContract/Subscribe" message="tns:ISampleContract_Subscribe_InputMessage" />
      <wsdl:output wsam:Action="http://Microsoft.ServiceModel.Samples/ISampleContract/SubscribeResponse" message="tns:ISampleContract_Subscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="true" name="Unsubscribe">
      <wsdl:input wsam:Action="http://Microsoft.ServiceModel.Samples/ISampleContract/Unsubscribe" message="tns:ISampleContract_Unsubscribe_InputMessage" />
      <wsdl:output wsam:Action="http://Microsoft.ServiceModel.Samples/ISampleContract/UnsubscribeResponse" message="tns:ISampleContract_Unsubscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="PublishPriceChange">
      <wsdl:input wsam:Action="http://Microsoft.ServiceModel.Samples/ISampleContract/PublishPriceChange" message="tns:ISampleContract_PublishPriceChange_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="PriceChange">
      <wsdl:output wsam:Action="http://Microsoft.ServiceModel.Samples/ISampleContract/PriceChange" message="tns:ISampleContract_PriceChange_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>