C#/CS.Pricing/Service References/PricerServiceReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CS.Pricing" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CS.Pricing" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/PricerService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CS.Market" />
  <xs:complexType name="OptionData">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CS.Market" minOccurs="0" name="MarketData" nillable="true" type="q1:MarketData" />
      <xs:element minOccurs="0" name="test" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OptionData" nillable="true" type="tns:OptionData" />
</xs:schema>