C#/CS.Pricing/Service References/MarketServiceReference/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="MarketServiceLibrary" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="MarketServiceLibrary" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="MarketServiceLibrary/Imports">
      <xsd:import schemaLocation="http://localhost:8080/MarketService/?xsd=xsd0" namespace="MarketServiceLibrary" />
      <xsd:import schemaLocation="http://localhost:8080/MarketService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/MarketService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CS.Market" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMarketContract_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="IMarketContract_Subscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IMarketContract_Unsubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Unsubscribe" />
  </wsdl:message>
  <wsdl:message name="IMarketContract_Unsubscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnsubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IMarketContract_PublishMarketData_InputMessage">
    <wsdl:part name="parameters" element="tns:PublishMarketData" />
  </wsdl:message>
  <wsdl:message name="IMarketContract_GetMarketData_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GetMarketData" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IMarketContract">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Subscribe">
      <wsdl:input wsam:Action="MarketServiceLibrary/IMarketContract/Subscribe" message="tns:IMarketContract_Subscribe_InputMessage" />
      <wsdl:output wsam:Action="MarketServiceLibrary/IMarketContract/SubscribeResponse" message="tns:IMarketContract_Subscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="true" name="Unsubscribe">
      <wsdl:input wsam:Action="MarketServiceLibrary/IMarketContract/Unsubscribe" message="tns:IMarketContract_Unsubscribe_InputMessage" />
      <wsdl:output wsam:Action="MarketServiceLibrary/IMarketContract/UnsubscribeResponse" message="tns:IMarketContract_Unsubscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="PublishMarketData">
      <wsdl:input wsam:Action="MarketServiceLibrary/IMarketContract/PublishMarketData" message="tns:IMarketContract_PublishMarketData_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetMarketData">
      <wsdl:output wsam:Action="MarketServiceLibrary/IMarketContract/GetMarketData" message="tns:IMarketContract_GetMarketData_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>