C#/CS.Market/Service References/MarketServiceReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="MarketServiceLibrary" elementFormDefault="qualified" targetNamespace="MarketServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/MarketService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CS.Market" />
  <xs:element name="Subscribe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Unsubscribe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnsubscribeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishMarketData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CS.Market" minOccurs="0" name="newData" nillable="true" type="q1:MarketData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMarketData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CS.Market" minOccurs="0" name="newData" nillable="true" type="q2:MarketData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>